* {
  margin: 0;
  padding: 0;
}

html {
  background: #222e3d;
  color: #eee;
}

div {
  display: block;
}

a {
  color: orange;
  text-decoration: none;
}

footer {
  height: 50px;
}

.auth {
  color: #555;
}

.logo {
  display: block;
  height: 180px;
  line-height: 0;
  margin: 15px;
  overflow: hidden;
  text-align: center;
}

.logo img {
  height: 100%;
}

.qr {
  margin-top: 20px;
  text-align: center;
}

.qr img {
  width: 600px;
}

.qr-reader {
  width: 100%;
}

.title {
  font-size: 400%;
  margin: 20px;
  text-align: center;
}

.name {
  font-size: 600%;
  margin-top: 80px;
  text-align: center;
}

.track {
  font-size: 300%;
  margin-top: 60px;
  text-align: center;
}

.desc {
  font-size: 200%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.lb-items {
  font-size: 150%;
  margin: 0 auto;
  max-width: 1200px;
  width: auto;
}

.lb-items .lb-header,
.lb-items .lb-row {
  display: flex;
  width: 100%;
}

.lb-items .lb-header {
  color: #aaa;
  font-size: 80%;
  text-transform: uppercase;
}

.lb-items .lb-row {
  background-color: #234;
  margin-bottom: 5px;
}

.lb-items .lb-row a {
  color: #fff;
}

.lb-items .lb-header>div,
.lb-items .lb-row>div {
  padding: 15px;
  text-align: center;
}

.lb-items .lb-header>div:nth-child(1),
.lb-items .lb-row>div:nth-child(1) {
  width: 20%;
}

.lb-items .lb-header>div:nth-child(2),
.lb-items .lb-row>div:nth-child(2) {
  text-align: left;
  width: 50%;
}

.lb-items .lb-header>div:nth-child(n+3),
.lb-items .lb-row>div:nth-child(n+3) {
  text-align: left;
  width: 30%;
}

.lb-dash {
  display: flex;
  text-align: center;
  width: 100%;
}

.lb-reader {
  display: flex;
  text-align: center;
  width: 100%;
}

.lb-left {
  font-size: 150%;
  margin-left: 20px;
  position: block;
  width: 800px;
}

.lb-left .lb-header,
.lb-left .lb-row {
  display: flex;
  width: 100%;
}

.lb-left .lb-header {
  color: #aaa;
  font-size: 80%;
  text-transform: uppercase;
}

.lb-left .lb-row {
  background-color: #234;
  margin-bottom: 5px;
}

.lb-left .lb-header>div,
.lb-left .lb-row>div {
  padding: 5px;
  text-align: center;
}

.lb-left .lb-header>div:nth-child(1),
.lb-left .lb-row>div:nth-child(1) {
  width: 10%;
}

.lb-left .lb-header>div:nth-child(2),
.lb-left .lb-row>div:nth-child(2) {
  text-align: left;
  width: 20%;
}

.lb-left .lb-header>div:nth-child(n+3),
.lb-left .lb-row>div:nth-child(n+3) {
  text-align: left;
  width: 35%;
}

.lb-right {
  margin-left: 20px;
  position: block;
  width: 600px;
}

.lb-center {
  margin: 0 auto;
  max-width: 1200px;
}

.lb-submit {
  margin-top: 30px;
  font-size: 150%;
}

.lb-submit .lb-row {
  background-color: #234;
  display: flex;
  margin-bottom: 10px;
}

.lb-submit .lb-row>div {
  padding: 5px;
  text-align: center;
}

.lb-submit .lb-row>div:nth-child(1) {
  margin-top: 5px;
  text-align: right;
  width: 25%;
}

.lb-submit .lb-row>div:nth-child(2) {
  margin-left: 15px;
  margin-top: 5px;
  text-align: left;
  width: 75%;
}

.lb-submit .lb-row input,
.lb-submit .lb-row textarea {
  border-radius: 3px;
  border: 3px solid #ccc;
  color: #222;
  line-height: 30px;
  width: 80%;
}

.lb-submit .lb-row textarea {
  height: 100px;
}

.lb-submit .lb-row input:focus,
.lb-submit .lb-row textarea:focus {
  border: 3px solid #0ac;
  outline: 0;
}

.lb-signin {
  font-size: 250%;
  margin-top: 30px;
  margin: 0 auto;
  max-width: 1024px;
}

.lb-signin .lb-row {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.lb-signin .lb-row>div {
  padding: 5px;
  text-align: center;
}

.lb-signin .lb-row>div:nth-child(1) {
  margin-top: 15px;
  width: 25%;
  text-align: right;
}

.lb-signin .lb-row>div:nth-child(2) {
  margin-left: 15px;
  width: 75%;
  text-align: left;
}

.lb-signin .lb-row input {
  border-radius: 3px;
  font-size: 120%;
  height: 100%;
  width: 90%;
}

.lb-signin .lb-row input:focus {
  border: 3px solid #0ac;
  outline: 0;
}

.icon-check {
  margin: 10px;
  height: 100px;
  position: relative;
}

.icon-trophy {
  height: 25px;
  position: relative;
  transform: translateY(5px);
}

.icon-logo {
  height: 30px;
  margin-left: 20px;
  position: relative;
  transform: translateY(5px);
}

.text_normal {
  color: #222;
  border: 3px solid #ccc;
}

.text_red {
  color: #e55;
  border: 3px solid #e55;
}

.center {
  text-align: center;
}

.checkbox {
  border-radius: 3px;
  height: 40px;
  width: 80%;
}

.btn-link {
  background-color: orange;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}

.btn-submit {
  background-color: orange;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}

.btn-signin {
  background-color: orange;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
